<launch>
    <!-- Run virtual_reset_world.py -->
    <node name="virtual_reset_world_q_learning" pkg="q_learning_project" type="virtual_reset_world.py"/>
    
    <!-- Run q_learning.py -->
    <node name="q_learning" pkg="q_learning_project" type="q_learning.py" output="screen" cwd="node"/>

</launch>
